In [1]:
import datetime as dt
import pandas as pd
import numpy as np
from sklearn import neighbors
from sklearn.metrics import mean_squared_error

In [2]:
ts = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TrainingSet/Training_set1M.csv')
df100k_or = pd.read_csv('/home/luupesado/7506_Datos/2018/datos_tp/real_test/TestsSet/100k_as_ts1M.csv')

In [3]:
test= ts[0:15000]
train = ts[15000:]

In [4]:
crossValidation = pd.DataFrame()
crossValidation['sepostulo'] = test['sepostulo']
test = test.drop(['sepostulo'], axis = 1)

In [5]:
trainx = train.drop(['sepostulo'], axis = 1)
trainy = train['sepostulo']

In [6]:
del trainx['idaviso']
del trainx['idpostulante']
del test['idaviso']
del test['idpostulante']
del df100k_or['idaviso']
del df100k_or['idpostulante']

In [7]:
klist = [1, 10, 25, 50, 100]
algorithms= ['ball_tree', 'kd_tree']
predictionList=[]
scoreList=[]
for k in klist:
    for a in algorithms:
        knn = neighbors.KNeighborsRegressor(k, weights='uniform', algorithm=a, p = 3)
        predictions = knn.fit(trainx, trainy)
        predictions = predictions.predict(test)
        predictionList.append('KNN-K: '+str(k)+'-algorithm: '+a)
        score = mean_squared_error(crossValidation['sepostulo'].values, predictions)
        scoreList.append(score)

In [8]:
#p=3
for i in range(len(scoreList)):
    print predictionList[i],scoreList[i]

KNN-K: 1-algorithm: ball_tree 0.372333333333
KNN-K: 1-algorithm: kd_tree 0.370133333333
KNN-K: 10-algorithm: ball_tree 0.236729333333
KNN-K: 10-algorithm: kd_tree 0.236904
KNN-K: 25-algorithm: ball_tree 0.231539093333
KNN-K: 25-algorithm: kd_tree 0.23174336
KNN-K: 50-algorithm: ball_tree 0.230887253333
KNN-K: 50-algorithm: kd_tree 0.230843066667
KNN-K: 100-algorithm: ball_tree 0.232324733333
KNN-K: 100-algorithm: kd_tree 0.232228693333

In [17]:
#p=4
for i in range(len(scoreList)):
    print predictionList[i],scoreList[i]

KNN-K: 1-algorithm: ball_tree 0.482466666667
KNN-K: 1-algorithm: kd_tree 0.482466666667
KNN-K: 10-algorithm: ball_tree 0.266064
KNN-K: 10-algorithm: kd_tree 0.266064
KNN-K: 25-algorithm: ball_tree 0.255565013333
KNN-K: 25-algorithm: kd_tree 0.255567466667
KNN-K: 50-algorithm: ball_tree 0.25116224
KNN-K: 50-algorithm: kd_tree 0.251163813333
KNN-K: 100-algorithm: ball_tree 0.248350046667
KNN-K: 100-algorithm: kd_tree 0.248350046667

In [13]:
for i in range(len(scoreList)):
    print predictionList[i],scoreList[i]

 KNN-K: 1-algorithm: ball_tree 0.481333333333
KNN-K: 1-algorithm: kd_tree 0.481333333333
KNN-K: 10-algorithm: ball_tree 0.265929333333
KNN-K: 10-algorithm: kd_tree 0.265929333333
KNN-K: 25-algorithm: ball_tree 0.25515584
KNN-K: 25-algorithm: kd_tree 0.25515584
KNN-K: 50-algorithm: ball_tree 0.251198053333
KNN-K: 50-algorithm: kd_tree 0.251199626667
KNN-K: 100-algorithm: ball_tree 0.248419526667
KNN-K: 100-algorithm: kd_tree 0.248419526667
KNN-K: 250-algorithm: ball_tree 0.247104219733
KNN-K: 250-algorithm: kd_tree 0.247104449067
KNN-K: 500-algorithm: ball_tree 0.246364124267
KNN-K: 500-algorithm: kd_tree 0.246364124267

In [9]:
del df100k_or['id']

In [11]:
klist = [100]
algorithms= ['kd_tree']
predictionList=[]
scoreList=[]
for k in klist:
    for a in algorithms:
        knn = neighbors.KNeighborsRegressor(k, weights='uniform', algorithm=a, p=3)
        predictions = knn.fit(trainx, trainy)
        df = predictions.predict(df100k_or)

In [12]:
df = predictions.predict(df100k_or)

In [13]:
dic_knn = {'sepostulo': df}
df = pd.DataFrame.from_dict(dic_knn)

In [14]:
df['id'] = df.index

In [15]:
df['sepostula'] = df['sepostulo']
del df['sepostulo']

In [16]:
df['sepostulo'] = df['sepostula']
df

          id  sepostula  sepostulo
0          0       0.47       0.47
1          1       0.54       0.54
2          2       0.56       0.56
3          3       0.27       0.27
4          4       0.57       0.57
5          5       0.69       0.69
6          6       0.66       0.66
7          7       0.34       0.34
8          8       0.71       0.71
9          9       0.29       0.29
10        10       0.63       0.63
11        11       0.32       0.32
12        12       0.64       0.64
13        13       0.45       0.45
14        14       0.43       0.43
15        15       0.52       0.52
16        16       0.35       0.35
17        17       0.58       0.58
18        18       0.51       0.51
19        19       0.56       0.56
20        20       0.50       0.50
21        21       0.52       0.52
22        22       0.51       0.51
23        23       0.59       0.59
24        24       0.46       0.46
25        25       0.32       0.32
26        26       0.99       0.99
27        27       0.25       0.25
28        28       0.36       0.36
29        29       0.45       0.45
...      ...        ...        ...
99970  99970       0.49       0.49
99971  99971       0.31       0.31
99972  99972       0.58       0.58
99973  99973       0.46       0.46
99974  99974       0.55       0.55
99975  99975       0.60       0.60
99976  99976       0.54       0.54
99977  99977       0.77       0.77
99978  99978       0.87       0.87
99979  99979       0.52       0.52
99980  99980       0.49       0.49
99981  99981       0.89       0.89
99982  99982       0.58       0.58
99983  99983       0.58       0.58
99984  99984       0.56       0.56
99985  99985       0.62       0.62
99986  99986       0.61       0.61
99987  99987       0.50       0.50
99988  99988       0.96       0.96
99989  99989       0.44       0.44
99990  99990       0.62       0.62
99991  99991       0.52       0.52
99992  99992       0.41       0.41
99993  99993       0.62       0.62
99994  99994       0.62       0.62
99995  99995       0.45       0.45
99996  99996       0.57       0.57
99997  99997       0.53       0.53
99998  99998       0.61       0.61
99999  99999       0.31       0.31

[100000 rows x 3 columns]

In [17]:
del df['sepostula']

In [18]:
df.head()

   id  sepostulo
0   0       0.47
1   1       0.54
2   2       0.56
3   3       0.27
4   4       0.57

In [19]:
df.to_csv('/home/luupesado/7506_Datos/2018/TPsDatos_1C2018/TP2/Submits/submit_knn_uniform_p3_right.csv', index = False)